{%  extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Despachador</title>
  </head>
  <body>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Despachador</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
              <tr>
                  <th scope="col">Numero de la Guia</th>
                  <th scope="col">Servicio</th>
                  <th scope="col">Nombre Remitente</th>
                  <th scope="col">Ciudad Origen</th>
                  <th scope="col">Nombre Destinatario</th>
                  <th scope="col">Ciudad Destino</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Placa Vehiculo</th>
                  <th scope="col">Asignar</th>
              </tr>
            </thead>
            <tbody>
              {% for env in env %}
              <tr>
                  <td>{{ env.numueroguia }}</td>
                  <td>{{ env.tipoServicio.nombre }}</td>
                  <td>{{ env.nombreRemi }}</td>
                  <td>{{ env.ciudadRemi }}</td>
                  <td>{{ env.nombreDesti }}</td>
                  <td>{{ env.ciudadDesti }}</td>
                  <td>{{ env.direccionDesti }}</td>
                  <td>{{ env.telefonoDesti }}</td>
                  <td>{{ env.vehiculos }}</td>
                  <td>
              
                    
                      {% comment %} <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Asignar
                      </button> {% endcomment %}
                      <a data-toggle="modal" href="{% url 'asignar' env.id %}" class="btn btn-success" data-target="#modal" title="edit item" data-tooltip>Asignar</a> 
                      {% comment %} <a href="{% url 'asignar' env.id %}"  class="btn btn-success" >Asignar </a>  {% endcomment %}
                       {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4>Asignacion de Vehiculos</h4>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form action="" method="POST">
                                  <div class="modal-body">
                                    {% csrf_token %}
                                    <table style = "margin: 20px auto;">{{ fromC.as_table }}</table>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <input type="submit" value="Asignar" class="btn btn-success">
                                  </div>
                              </form>
                            </div>
                        </div>
                      </div>  {% endcomment %}
                   
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
  </body>
</html>
{% endblock %}